body {
    background-color: rgb(240, 225, 189);
    background-image: url(imagenes/wood.jpg);
}

h1 {
    color: rgb(193, 47, 47);
    font-size:80px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    animation-name: cambiarColor;
    animation-duration: 2s;
    animation-iteration-count:infinite;
    text-shadow: 0 0 4px black;
}

 img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        border-radius: 16px;
}


ul, ol {
    font-style: italic;
    color: white;
    font-weight: bold;
    padding: 0 110px;
    
    
}

ul { 
    color: black;
}


.ingridient-box {
    display: block;
    background-color: blanchedalmond;
    width: fit-content;
    border: 3px solid black;
    background-image: url(imagenes/italianMargin.jpg);
    background-size:contain;
    align-self: center;
}

.ingridient-box h2 {
    border-bottom: 3px solid black;
    text-align:center;
    padding-bottom:40px;
    color:black;
    text-decoration:underline;
}


.texto {
    font-size: 28px;
    color: white;
    font-weight: bold;
    font-style: italic;
    font-display: center;

}

.texto:hover {
    font-size: 45px;
    text-decoration-line:underline;
    animation-name: cambiarColor;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    text-shadow: 0 0 4px black  ;
}

@keyframes cambiarColor {
    0% {color:green;
    }
    50% {color:whitesmoke;
    }
    100% {color:red;
    }
}


h2 {
    color: white;
    font-size:45px;
    font-family:Arial, Helvetica, sans-serif
}

li { 
    font-size: 20px;
}