body {
    background-color: rgb(240, 225, 189);
    background-image: url(imagenes/wood.jpg);
}

h1 {
    color: rgb(193, 47, 47);
    font-size:80px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    animation-name: cambiarColor;
    animation-duration: 2s;
    animation-iteration-count:infinite;
    text-shadow: 0 0 4px black;
}

 img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        border-radius: 16px;
}


ul, ol {
    font-style: italic;
    color: white;
    font-weight: bold;
    padding: 0 110px;   
}

ul { 
    color: black;
}




.ingridient-box {
    display: block;
    background-color: blanchedalmond;
    width: fit-content;
    border: 3px solid black;
    background-image: url(imagenes/italianMargin.jpg);
    background-size:contain;
    align-self: center;
    margin: 0 auto 0 auto;
}

.ingridient-box h2 {
    border-bottom: 3px solid black;
    text-align:center;
    padding-bottom:40px;
    color:black;
    text-decoration:underline;
}


.texto {
    font-size: 28px;
    color: white;
    font-weight: bold;
    font-style: italic;
    font-display: center;
    display: flex;
    justify-content: center;
    margin: 28px 115px 28px 145px;
    text-shadow: 1px 1px 10px black;
}

.texto:hover {
    font-size: 24px;
    text-decoration-line:underline;
    animation-name: cambiarColor;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    text-shadow: 1px 1px 10px black  ;
}

@keyframes cambiarColor {
    0% {color:green;
    }
    50% {color:whitesmoke;
    }
    100% {color:red;
    }
}

h2{
    font-size:45px;
    font-family:Arial, Helvetica, sans-serif;
    display:flex;
    justify-content: center;

}

.pasos{
    color: white;
    font-size:45px;
    font-family:Arial, Helvetica, sans-serif;
    display:flex;
    justify-content: center;;
    margin: 37px 30% 75px 30%;
    border: solid white 5px;
    align-items: center;
    backdrop-filter: blur(15px);
    padding-top: 1cm;
    padding-bottom: 1cm;
    
}

li { 
    font-size: 20px;
}

ol{
    text-shadow: 1px 1px 10px black;
}
@media (max-width: 600px) {
    img {
        width: 90%;
    }

    h1 {
        font-size: 60px;
    }

}

@media (max-width: 600px) {
    .texto{
        font-size: 20px;
        margin: 20px 20px 20px 22px;
    }

    .ingridient-box{
        max-width: 90%;
        margin-right: auto;
        margin-left: auto;
    }

    ul{
        padding-left: 62px;
    }

    ol{
        padding-left: 15%;
        padding-right: 10%;
    }

    .pasos {
        margin: 20px 10px 20px 10px;
    }
}
